.fancy-header {
    color: black; /* single line comment */
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    }

h1, h2 {
    color: black;
    text-decoration: underline;
    text-align: center;
}

body {
    background-image: url("https://storage.needpix.com/rsynced_images/orange-fabric-background.jpg");
}

ul {
    list-style: square;
}

body {
    font-family: "Courier New", Monospace;
}
}
#our-products {
    font-size: 5em;
    padding-right: 300px;

}

table {
    font-size: 4em;
}

a:hover{
    color: coral;
    background-color: blue;
}







