.fancy-header {
    color: black; /* single line comment */
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-size: 3em;
    }

h1, h2 {
    color: black;
    text-decoration: underline;
    text-align: center;
}

body {
    background-image: url("https://storage.needpix.com/rsynced_images/orange-fabric-background.jpg");
}

ul {
    list-style: square;
}

body {
    font-family: "Lacquer" ;
}

#our-products {
    font-size: 1em;
}

#our-product-id {
    text-align: left;
}

 tr > td {
    font-size: 1em;
    border: 1px solid black;
     padding-left: 65px;
     padding: 20px
}

a:hover{
    color: coral;
    background-color: blue;
}

.intro {
    text-align: center;
}











